<footer class="footer">
    <div class="container footer-bottom">
        <div class="grid four">
            <div class="grid-item col-2-4">
                <p class="big">
                    I'm <b>Laura</b> :)<br />
                    Nice to meet you!
                </p>

                <p>
                    Check out my latest
                    <a href="/work/offboarding.html">case study here →</a>
                </p>

                <p>
                    Follow me on 👩🏽‍💻<a href="">Linkedin</a> or send me an
                    <a href="">email </a>📫.
                </p>
            </div>

            <div class="grid-item col-1-4"></div>

            <div class="grid-item col-1-4">
                <div class="spacer-mid"></div>
                <p class="small">
                    👩🏽‍🎨
                    <i
                        >Web design: <br /><b>Laura Gonçalves</b> <br /><br />
                        Implementation: <br /><a href=""
                            >Pastry Fueled Apps</a
                        > </i
                    >🥐
                </p>
            </div>
        </div>
    </div>
</footer>
