<footer class="footer">
    <div class="container footer-bottom">
        <div class="grid four">
            <div class="grid-item col-2-4">
                <p class="big">Nice to meet you! I'm <b>Laura</b> :)</p>

                <p class="small">
                    👩🏽‍🎨
                    <i
                        >Web design: <b>Laura Gonçalves</b> <br /><br />
                        Implementation: <a href="">Pastry Fueled Apps</a> </i
                    >🥐
                </p>
            </div>

            <div class="grid-item col-1-4">
                <h4>
                    <a href="/work"> Work </a>
                </h4>

                <ul>
                    <li>
                        👩🏽‍💻
                        <a href="/work">All projects </a>
                    </li>
                    <li>
                        <a href="/work/recipe-cards"> Recipe Cards </a>
                    </li>

                    <li>
                        <a href="/work/obesity-epidemic"> Obesity Epidemic </a>
                    </li>
                    <li>
                        <a href="/work/rest-days"> Rest Days </a>
                    </li>
                </ul>
            </div>

            <div class="grid-item col-1-4">
                <h4>
                    <a href="/blog"> Blog </a>
                </h4>
                <ul>
                    <li>
                        📝
                        <a href="/blog">All articles </a>
                    </li>
                    <li>
                        <a href="/blog/figma-fashion">Figma Fashion</a>
                    </li>
                    <li>
                        <a href="/blog/shapes-of-data">Shapes of Data</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
