<div class="wave-decoration"></div>
<footer class="footer">
    <div class="container footer-bottom">
        <div class="grid four">
            <div class="grid-item col-2-4">
                <h2 class="special">Hi!</h2>

                <p>
                    I'm Ana. Designer + Content Strategist with a passion for
                    data.
                </p>
                <p>This website was made with ❤️ by me.</p>
            </div>

            <div class="grid-item col-1-4">
                <h4>
                    <a href="/work"> Work </a>
                </h4>

                <ul>
                    <li>
                        👩🏽‍💻
                        <a href="/work">All projects </a>
                    </li>
                    <li>
                        <a href="/work/recipe-cards"> Recipe Cards </a>
                    </li>

                    <li>
                        <a href="/work/obesity-epidemic"> Obesity Epidemic </a>
                    </li>
                    <li>
                        <a href="/work/rest-days"> Rest Days </a>
                    </li>
                </ul>
            </div>

            <div class="grid-item col-1-4">
                <h4>
                    <a href="/blog"> Blog </a>
                </h4>
                <ul>
                    <li>
                        📝
                        <a href="/blog">All articles </a>
                    </li>
                    <li>
                        <a href="/blog/figma-fashion">Figma Fashion</a>
                    </li>
                    <li>
                        <a href="/blog/shapes-of-data">Shapes of Data</a>
                    </li>
                </ul>
            </div>

            <div class="grid-item col-4-4">
                <p>
                    <a href="/contact" class="social-links">
                        📩<b> Let's chat!</b>
                    </a>

                    <a
                        class="social-links"
                        href="https://www.linkedin.com/in/ana-sifuentes/"
                    >
                        Linkedin
                    </a>
                    •
                    <a
                        class="social-links"
                        href="mailto:sifuentesanita@gmail.com"
                    >
                        Email
                    </a>
                    •
                    <a
                        class="social-links"
                        href="https://www.instagram.com/ana_sifuent.es/"
                    >
                        Instagram
                    </a>
                </p>

                <p class="social-links">
                    <a href="/index">anasifuentes</a> • 2025 •
                    <a class="social-links" href="/imprint">Imprint</a>
                </p>
            </div>
        </div>
    </div>
</footer>
