<section class="menu-overlay hidden" id="menu">
    <div class="container">
        <div class="grid">
            <!-- Work -->
            <div class="grid-item col-1-3">
                <div class="menu-section">
                    <a href="/work"><h4>Work</h4></a>
                    <ul>
                        <li>
                            <a href="/work/recipe-cards">Recipe Cards</a>
                        </li>

                        <li>
                            <a href="/work/obesity-epidemic"
                                >Obesity Epidemic</a
                            >
                        </li>
                        <li><a href="/work/rest-days">Rest Days</a></li>
                        <li></li>
                        <li>
                            👩🏽‍💻
                            <a href="/work">All projects </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Blog -->
            <div class="grid-item col-1-3">
                <div class="menu-section">
                    <a href="/blog"><h4>Blog</h4></a>
                    <ul>
                        <li>
                            <a href="/blog/figma-fashion">Figma Fashion</a>
                        </li>
                        <li>
                            <a href="/blog/shapes-of-data">Shapes of Data</a>
                        </li>
                        <li>
                            <a href="/blog/designers-x-developers"
                                >Designers x Developers</a
                            >
                        </li>
                        <li></li>
                        <li>
                            📝
                            <a href="/blog">All articles </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Contact -->
            <div class="grid-item col-1-3">
                <div class="menu-section">
                    <a href="/contact"><h4>Contact</h4></a>
                    <ul>
                        <li>
                            <a href="mailto:sifuentesanita@gmail.com">Email</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/ana_sifuent.es/"
                                >Instagram</a
                            >
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/ana-sifuentes/"
                                >Linkedin</a
                            >
                        </li>
                        <li></li>
                        <li>
                            📩
                            <a href="/contact"> Let's work together! </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
