<nav class="navbar">
    <div class="navbar-content container-navbar">
        <ul>
            <li class="brand"><a href="/index">anasifuentes</a></li>
            <li class="nav-item"><a href="/work">Work</a></li>
            <li class="nav-item"><a href="/blog">Blog</a></li>
            <li class="nav-item"><a href="/contact">Contact</a></li>
            <li class="hamburger">
                <svg
                    class="hamburger-icon"
                    width="24"
                    height="24"
                    viewBox="0 0 100 80"
                >
                    <rect width="100" height="5"></rect>
                    <rect y="30" width="100" height="5"></rect>
                    <rect y="60" width="100" height="5"></rect>
                </svg>
            </li>
        </ul>
    </div>
</nav>
